/************************************************
					PROFILE
***********************************************/

/*		CONTAINER		*/
#dashboard-container
{
	width: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

#dashboard-buttons-container
{
	display: flex;
	width: 50%;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	gap: 7.5vh;
	margin-top: 5vh;
}

#mystats-container
{
	display: flex;
	flex-direction: column;
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 125vh;
	background-color: var(--base-dark);
	border: 1vh solid var(--base-green);
	border-radius: 30px;
	z-index: 10;
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.3s ease, transform 0.3s ease;
	pointer-events: none;
}

#mystats-container.active
{
	opacity: 1;
	transform: translateY(0);
	pointer-events: all;
}

#mystats-canvas,
#progression-canvas
{
	width: 60%;
	height: 100%;
}


/*		TITLE		*/
#dashboard-title
{
	font-size: 5vh;
	color: var(--base-white);
	text-align: center;
	margin-bottom: 2vh;
	position: relative;
	z-index: 1;
	background-color: var(--base-dark);
}

/*		GRAPH		*/
#mystats-canvas
{
	position: relative;
	width: 60%;
	height: auto;
	z-index: 10;
	margin-top: 5vh;
}

#progression-canvas
{
	position: relative;
	width: 75%;
	z-index: 10;
}

/*		LEGEND		*/
.chart-legend
{
	position: relative;
	right: 35%;
	bottom: 20vh;
	font-size: 2vh;
	color: var(--base-white);
}

.chart-message
{
	width: 15vh;
	position: relative;
	left: 35%;
	bottom: 27vh;
	font-size: 125%;
	background-color: var(--base-light-green);
	border-radius: 30px;
	padding: 1vh;
	text-align: center;
}

.legend-item
{
	display: flex;
	align-items: center;
	gap: 2vh;
}

.color-box
{
	width: 2vh;
	height: 2vh;
	border-radius: 30px;
}


.label-text
{
	color: inherit;
}

.graph-label
{
	background-color: var(--base-light-yellow);
}

/*		BUTTONS		*/
.btn-dashboard
{
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#statsButton
{
	width: 40vh;
}

#myGameHistory
{
	width: 40vh;
}

#rankButton
{
	width: 40vh;
}

.close-btn
{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 15vh;
	height: 5vh;
	cursor: pointer;
	font-size: 1rem;
	padding: 5px 10px;
	z-index: 20;
	pointer-events: auto;
}

/*		FAVOURITE BUDDY		*/
.favourite-buddy-container
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 5vh;
}

.avatar-name-container
{
	display: flex;
	gap: 1vh;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	margin-bottom: 1vh;
}

.favourite-buddy-title
{
	font-size: 4vh;
	color: var(--base-light-yellow);
	animation: favBuddy 2s infinite alternate;
	margin-bottom: 3vh;
}

.favourite-buddy-name
{
	font-size: 4vh;
	font-weight: bold;
	margin-left: 2vh;
	color: var(--base-light-green);
}

/* Keyframes for color animation */
@keyframes favBuddy
{
	0%
	{
		color: var(--base-green);
	}
	100%
	{
		color: var(--base-light-yellow);
	}
}

/*		AVATAR		*/
.avatar-icon
{
	width: 10vh;
	height: auto;
	border-radius: 30px;
}

/*		BADGES		*/
.badge-icon
{
	top: 50%;
}

/*		MY GAME INFO	*/
.mygameinfocontainer
{
	display: flex;
	flex-direction: column;
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80%;
	background-color: var(--base-dark);
	border: 1vh solid var(--base-green);
	border-radius: 30px;
	z-index: 10;
	transform: translate(-50%, -50%);
	transition: opacity 0.3s ease, transform 0.3s ease;
	pointer-events: none;
	top: 50%;
	left: 50%;
}

.mygameinfocontainer.active
{
	opacity: 1;
	transform: translateY(0);
	pointer-events: all;
}

.avatar-box
{
	display: flex;
	z-index: 10;
	pointer-events: auto;
	width: 100%;
	height: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	border-radius: 30px;
}

.avatar-box:hover
{
	animation: backgroundColorAvatarBox 2s infinite alternate, textColorAvatarBox 2s infinite alternate;
}

/* Keyframes for background color animation */
@keyframes backgroundColorAvatarBox
{
	0%
	{
		background-color: var(--base-light-yellow);
	}
	100%
	{
		background-color: var(--base-light-green);
	}
}

/* Keyframes for text color animation */
@keyframes textColorAvatarBox
{
	0%
	{
		color: var(--base-light-yellow);
	}
	100%
	{
		color: var(--base-light-green);
	}
}

/* GAME HISTORY */
.game-history-container
{
	color: var(--base-green);
	padding: 1vh;
	background-color: var(--base-dark);
	border-radius: 30px;
	position: relative;
	bottom: 50vh;
	z-index: 1000;
}

.game-history-header
{
	font-size: 2vh;
	font-weight: bold;
	margin-bottom: 3vh;
	margin-left: 35%;
}

.game-history-table
{
	width: 100%;
	height: 100%;
	border-collapse: separate;
}

.game-history-header-row
{
	background-color: var(--base-light-green);
}

.game-history-header-cell,
.game-history-cell
{
	padding: 1vh;
	border: 1px solid var(--base-light-yellow);
	text-align: center;
}

.game-history-row:hover 
{
	background-color: var(--base-light-green);
}


/*	BADGE	*/
.badge-container
{
	position: relative;
	z-index: 1500;
	display: flex;
	align-items: center;
	background-color: var(--base-light-green);
	border-radius: 30px;
	top: 40%;
	left: 35%;
	width: 65vh;
	padding: 2vh;
}

.badge-icon
{
	width: 15vh;
	height: 15vh;
}

.badge-message
{
	font-size: 4vh;
	color: var(--base-light-yellow);
	animation: favBuddy 2s infinite alternate;
}

.badge-btn-close
{
	position: relative;
	width: 15vh;
	z-index: inherit;
	top: -8vh;
}

.username-text
{
	color: var(--base-white);
	font-size: 2.5vh;
	margin-top: 1.5vh;
}

.game-history-close
{
	border-radius: 30px;
	width: 5vh;
	height: 5vh;
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.table
{
	border-collapse: separate;
}

.overlay
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 999;
}