/************************************************
					PROFILE
***********************************************/

/*		CONTAINER		*/
#dashboard-container
{
	width: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

#dashboard-buttons-container
{
	display: flex;
	width: 50%;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	gap: 7.5vh;
	margin-top: 5vh;
}

#charts-container
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin-top: 2vh;
}

/*		TITLE		*/
#dashboard-title
{
	font-size: 5vh;
	color: var(--base-white);
	text-align: center;
	margin-bottom: 2vh;
	position: relative;
	z-index: 1;
	background-color: var(--base-dark);
}

/*		GRAPH		*/
#chart-canvas
{
	/* KARL HERE */
	position: relative;
	width: 40%;
	height: 40%;
	z-index: 10;
}


/*		TEXT		*/

/* KARL HERE */
/*		BUTTONS		*/
.btn-dashboard
{
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}


#statsButton
{
	width: 25vh;
}

#friendsStatsButton
{
	width: 25vh;
}

#rankButton
{
	width: 25vh;
}
/*		AVATAR		*/
