/************************************************
					FRIENDS
***********************************************/

/*		CONTAINER		*/
.friends-card
{
	margin-bottom: 1vh;
	text-align: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 5vh;
	background: linear-gradient(135deg, var(--base-green), var(--base-dark), var(--base-green));
	background-size: 300% 300%;
	animation: moveBackground 5s ease infinite;
}
