/* **********************************************
					PONG PAGE
***********************************************/
#pong-page
{
	text-align: center;
	padding: 20px;
	background-color: #222;
	overflow: hidden;
}

#background-video
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
	display: block;
}

#pongCanvas
{
	background-color: rgba(0, 0, 0, 0.8);
	margin-top: 20px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 1;
	border-radius: 15px;
	overflow: hidden;
	min-width: 50vh;
	min-height: 50vh;
}

/*		WINNING MESSAGE		*/
#winning-message
{
	background-color: black;
	border: 3px solid var(--retro-green);
	color: var(--retro-green);
	font-family: 'Press Start 2P', cursive;
	font-size: 36px;
	text-align: center;
	padding: 20px;
	margin: 0;
	width: fit-content;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	display: none;
}

#winning-message.show
{
	display: block;
}

/*		REMATCH BUTTON		*/
#rematch-button
{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 20px;
	font-size: 18px;
	background-color: #00ff00;
	color: #000;
	border: black;
	border-width: thick;
	border-radius: 10px;
	cursor: pointer;
	visibility: visible;
	opacity: 100%;
}

#rematch-button:hover
{
	background-color: #0056b3;
	transform: scale(1.05) rotate(-2deg);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/*		PADDLES		*/
.paddle
{
	position: absolute;
	width: 10px;
	height: 100px;
	background: linear-gradient(45deg, rgba(0, 255, 255, 0.8), rgba(0, 255, 255, 0.5));
	box-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}

.paddle-left
{
	left: 10px;
}

.paddle-right
{
	right: 10px;
}

/*		MENU PRE-LAUNCH		*/
.menu-overlay
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0);
	padding: 20px;
	text-align: center;
	z-index: 1000;
	width: 50vh;
	max-width: 800px;
	height: 50vh;
	max-height: 600px;
	display: flex;
	gap: 2px;
	margin-top: 20px;
}

.menu-gif
{
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: auto;
	display: none;
}

#singleplayer-button:hover .menu-gif,
#twoplayer-button:hover .menu-gif
{
	display: block;
}

.menu-buttons-container
{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.menu-button
{
	position: relative;
	padding: 30px 50px;
	font-family: 'Press Start 2P', cursive;
	font-size: 24px;
	text-transform: uppercase;
	color: #00ff00;
	background-color: #000;
	border: 2px solid #00ff00;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
	box-sizing: border-box;
	flex: 1;
	width: auto;
}

.menu-button:first-child
{
	flex: 1;
}

.menu-button:last-child
{
	flex: 1;
}

.menu-button:hover
{
	background-color: #00ff00;
	color: #000;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


/*		PAUSE MENU		*/
#paused-gif
{
	/* TODO: TO CHANGE LATER to be responsive*/
	width: 100px;
	height: auto;
	animation: moveLeftRight 2s infinite ease-in-out;
}

@keyframes moveLeftRight
{
	0%
	{
		transform: translateX(0); /* Start position */
	}
	50%
	{
		transform: translateX(-30px); /* Move left by 20px */
	}
	100%
	{
		transform: translateX(30px); /* Move right by 20px */
	}
}


#paused-gif-container
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s ease;
}

#paused-gif-container.show
{
	visibility: visible;
	opacity: 1;
}

