/************************************************
					SIGN-UP
***********************************************/

/*			CONTAINER			*/
.sign-up-container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 60vh;
}

/*			TITLE			*/
.sign-up-title
{
	font-size: 5vh;
	color: var(--base-white);
	text-align: center;
	margin-bottom: 2vh;
	z-index: 1000;
	background-color: var(--base-dark);
}

/*			FORM			*/
#sign-up-form
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
}

.form-group
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
}

/*			INPUT			*/
.sign-up-label
{
	font-size: 1.75vh;
	background-color: var(--base-dark);
	margin-bottom: 1vh;
	width: max-content;
	padding: 1vh;
}

.sign-up-input
{
	display: block;
	width: auto;
	height: 4vh;
	margin-bottom: 2vh;
	border-radius: 30px;
	color: var(--base-white);
	background: var(--base-dark);
	background-size: 300% 300%;
	font-size: 1.25vh;
	text-align: center;
}

.sign-up-input::placeholder
{
	color: var(--base-white);
	opacity: 0.7;
}

/*			BUTTONS			*/
.sign-up-button
{
	width: 15vh !important;
	height: 5vh !important;
	margin-top: 3vh;
	margin-right: 8vh;
	transform: translate(-50%, -50%);
	left: 8%;
	font-size: 1em;
}

.sign-up-wrapper
{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	max-width: 60vh;
}

/*			ERRORS			*/
.error-message
{
	font-size: 1em;
	color: var(--base-red);
	z-index: 1000;
	background: var(--base-dark);
	text-align: justify;
	font-weight: 900;
}
