/***********************************************
					TEAM PAGE
***********************************************/
#team-page
{
	text-align: center;
	padding: 20px;
}

h1
{
	color: var(--retro-green);
	font-size: 2em;
	margin-bottom: 20px;
}

.team-container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.team-member
{
	width: 200px;
	text-align: center;
	border: 3px solid var(--retro-green);
	background-color: #111;
	border-radius: 10px;
	padding: 10px;
	transition: transform 0.3s, box-shadow 0.3s;
}

.team-member:hover
{
	transform: scale(1.05);
	box-shadow: 0 6px 12px rgba(0, 255, 0, 0.75); /* Retro green shadow */
}

.team-photo
{
	width: 100%;
	height: auto;
	border-bottom: 3px solid var(--retro-green);
	border-radius: 10px;
}

.team-title
{
	margin-top: 10px;
	font-size: 1.2em;
	color: var(--retro-green);
}