/***********************************************\
					BODY
\***********************************************/
body
{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/***********************************************\
					HEADER
\***********************************************/
header
{
	text-align: center;
	padding: 20px;
	background-color: #192b5256;
	color: #fff;
}

/***********************************************\
					FOOTER
\***********************************************/
footer
{
	background-color: #f1f1f1;
}

.footer-content
{
	margin: 0;
	text-align: center;
}

.footer-content a
{
	margin: 0 10px;
	text-decoration: none;
	color: #333;
}

.footer-content a:hover
{
	text-decoration: underline;
}

/***********************************************\
					NAV
\***********************************************/
.nav-frames
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}

.nav-frame
{
	width: 30%;
	padding: 50px;
	margin: 10px;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	color: white;
	font-size: 1.5em;
	transition: transform 0.3s, box-shadow 0.3s;
}

.nav-frame:hover
{
	transform: scale(1.05);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

#app
{
	padding: 20px;
}

/***********************************************\
					TEAM
\***********************************************/
.team-container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.team-member
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team-member img
{
	width: 500px;
	height: auto;
	border-radius: 50%;
	margin-bottom: 10px;
}

/***********************************************\
					CUSTOM COLORS
\***********************************************/
:root
{
	--light-blue: lightblue;
	--light-green: lightgreen;
	--light-coral: lightcoral;
	--light-goldenrod-yellow: lightgoldenrodyellow;
	--light-pink: lightpink;
}

.bg-lightblue
{
	background-color: var(--light-blue) !important;
}

.bg-lightgreen
{
	background-color: var(--light-green) !important;
}

.bg-lightcoral
{
	background-color: var(--light-coral) !important;
}

.bg-lightgoldenrodyellow
{
	background-color: var(--light-goldenrod-yellow) !important;
}

.bg-lightpink
{
	background-color: var(--light-pink) !important;
}

@media (max-width: 768px)
{
	.nav-frame
	{
		width: 100%;
		margin: 5px 0;
	}
}

/* DASHBOARD CARO */


.icon-box {
	height: 300px;
	margin: 15px;
	border: 1px solid #ddd;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	/* background-color: #911b1b */
	border-radius: 10%;
}

.loading-icon {
	width: 200px;
	height: 200px;
	display: block;
}

.avatar-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.avatar-box {
	margin: 10px;
	cursor: pointer;
}

.avatar-icon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	transition: transform 0.3s;
}

.avatar-box:hover .avatar-icon {
	transform: scale(1.1);
}

.badge-icon {
	width: 150px;
	height: 150px;
}

h1 {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

p {
	font-size: 30px;
	color: #000000;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

body {
	background-color: #1ab0bb;
}




/* PROFILE PAGE DE JESS */
/* 
.profile-header {
	background-color: #007bff;
	color: white;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 15px;
}
.status-online {
	color: green;
}
.status-offline {
	color: red;
}
.section {
	background: white;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.stats-table th, .stats-table td {
	vertical-align: middle;
} */