/***********************************************
					HOME PAGE
***********************************************/.nav-frames
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}

.nav-frame
{
	width: 30%;
	padding: 50px;
	margin: 10px;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5em;
	background-color: #111; /* Dark background for a retro feel */
	border: 3px solid #00ff00; /* Retro green border */
	transition: transform 0.3s, box-shadow 0.3s;
}

.nav-frame:hover
{
	transform: scale(1.05);
	box-shadow: 0 6px 12px rgba(0, 255, 0, 0.75); /* Retro green shadow */
}


@media (max-width: 768px)
{
	.nav-frame
	{
		width: 100%;
		margin: 5px 0;
	}
}