/***********************************************
					BODY
***********************************************/
body
{
	font-family: 'Press Start 2P', cursive;
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #fff;
	font-size: 0.7em;
	display: flex;
	flex-direction: column;
	/* TODO: add a min-width with pong canvas */
	min-width: 800px;
	min-height: 600px;
	padding-top: 20px; /* Room for header */
	padding-bottom: 60px; /* Room for footer */
}