/***********************************************
				GLOBAL CSS
***********************************************/
.hidden
{
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s ease;
}

.show
{
	visibility: visible;
	opacity: 100%;
	transition: visibility 0s, opacity 0.5s ease;
}

/*		COLORS		*/
:root
{
	--base-green: #00ff00;
	--base-light-green: #a3dba3;
	--base-dark: #000;
	--base-white: #fff;
	--base-gray: #262626;
}

.no-scroll
{
	overflow: hidden;
}

/*		Reset for different browsers		*/
html, body
{
	margin: 0;
	padding: 0;
	min-width: 800px;
	min-height: 600px;
}

/***********************************************
			TODO DELETE IT - TESTING
***********************************************/

.testing
{
	--s: 250px;   /* the size of the image */
	--b: 8px;	 /* the border thickness*/
	--g: 14px;	/* the gap */
	--c: #00ff00; /* the color */
	
	width: var(--s);
	aspect-ratio: 1;
	outline: calc(var(--s)/2) solid #0009;
	outline-offset: calc(var(--s)/-2);
	cursor: pointer;
	transition: .3s;
}

.testing:hover
{
	outline: var(--b) solid var(--c);
	outline-offset: var(--g);
}

.testing + .testing
{
	border-radius: 50%;
}

.pixel-button
{
	--s: 150px;/* the size (width) of the button */
	--b: 8px;	 /* the border thickness */
	--g: 14px;	/* the gap between button and border */
	--c: #00ff00; /* the border color */

	width: var(--s);
	height: 50px;  /* Fixed height for the button */
	background-color: #000;  /* Button background color */
	color: #fff;  /* Button text color */
	border: none;
	outline: calc(var(--b) + var(--g)) solid transparent;
	outline-offset: calc(var(--g) * -1);
	cursor: pointer;
	transition: outline 0.3s, outline-offset 0.3s;
	position: relative;
	font-size: 16px;
}

.pixel-button:hover
{
	outline: var(--b) solid var(--c);
	outline-offset: var(--g);
}

.pixel-button + .pixel-button
{
	border-radius: 50%;
}


*, *::before, *::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.animated-border-button-test {
	position: relative;
	z-index: 0;
	width: 200px;
	height: 50px;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
	padding: 1rem;
	background-color: #000;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: color 0.3s, background-color 0.3s;
}

.animated-border-button-test::before {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 2px solid transparent;
	border-radius: 10px;
	box-sizing: border-box;
	transition: border-color 0.3s ease;
}

.animated-border-button-test:hover::before {
	border-color: #00ff00; /* The border color you want */
	animation: borderAnimation 2s linear infinite; /* Animation on hover */
}

@keyframes borderAnimation {
	0% {
		border-color: #00ff00;
	}
	25% {
		border-color: #ff0000;
	}
	50% {
		border-color: #15ff00;
	}
	75% {
		border-color: #ff0000;
	}
	100% {
		border-color: #00ff00;
	}
}
