/***********************************************
				GLOBAL CSS
***********************************************/
.hidden
{
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s ease;
}

.show
{
	visibility: visible;
	opacity: 100%;
}

:root
{
	--retro-blue: #0044cc;
	--retro-green: #00ff00;
	--dark-gray: #111;
}

/*		Reset for different browsers		*/
html, body
{
	margin: 0;
	padding: 0;
}
