Django>=4.0,<5.0
psycopg2-binary>=2.9,<3.0
djangorestframework>=3.13,<4.0
Pillow>=8.0.0
python-dotenv
djangorestframework-simplejwt>=5.0.0
gunicorn==22.0.0
django-prometheus==2.3.1
pytest
pytest-django
faker==9.8.1 #to populate database with fake data for tests
pyotp
celery>=5.0,<6.0
redis>=4.0,<5.0  # if using Redis as the broker
django-celery-beat>=2.2.1,<3.0  # for scheduling tasks