/***********************************************
					ACCORDIONS
***********************************************/
.accordion-button
{
	background-color: #00ff007c;
	border-color: #ffffff;
}

.accordion-button:not(.collapsed)
{
	background-color: #0f700f;
	color: #000;
}

/* .accordion-button
{
	background-color: #6c757d;
	color: #ffffff;
}

.accordion-button.collapsed
{
	background-color: #f8f9fa;
	color: #343a40;
}

.accordion-body
{
	background-color: #ffffff;
	color: #343a40;
} */