/***********************************************
					ACCORDIONS
***********************************************/
/* TODO:FINISH ACCORDION */
.accordion-button
{
	background-color: #00ff007c;
	border-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.accordion-button:not(.collapsed)
{
	background-color: #0f700f;
	color: #000;
}

.badge-right
{
	margin-left: auto;
}