/***********************************************
					BUTTONS
***********************************************/
.btn-home
{
	border: 2px solid var(--base-green);
	background-color: var(--base-dark);
	position: relative;
	width: auto;
	height: auto;
	margin: 10px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: var(--base-white);
	transition: var(--animation-speed);
	border-radius: 5px;
}

.btn-home:hover
{
	border: 2px solid var(--base-green);
	color: var(--base-dark);
	background: var(--base-green) url('../../assets/images/buttons/pixel_button_green.png');
	transition-delay: 0.4s;
	background-size: 180px;
	animation: animate var(--animation-speed) steps(8) forwards;
}

@keyframes animate
{
	0%
	{
		background-position-y: 0;
	}
	100%
	{
		background-position-y: -480px;
	}
}