/***********************************************
					BUTTONS
***********************************************/
.button-link
{
	padding: 10px 20px;
	font-size: 18px;
	background-color: #00ff00;
	color: #000;
	border: 5px solid transparent;
	border-radius: 15px;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

/* Animation for the border */
@keyframes borderAnimation
{
	0% {
		border-color: #6eec83a1; /* Start color */
	}
	50% {
		border-color: #00027f; /* Mid color */
	}
	100% {
		border-color: #6eec83a1; /* End color */
	}
}

.button-link:hover
{
	background-color: #6eec83a1;
	color: #fff;
	transform: scale(1.075);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	border-color: #00ff00;
	animation: borderAnimation 1s infinite;
}


/*		Bootstrap tuning					*/
.btn-primary
{
	--bs-btn-border-color: none;
	--bs-btn-active-border-color: none;
	--bs-btn-active-bg: #1a911a;
	--bs-btn-hover-border-color: none;
}



/* 
	- TO DO: LATER

test fleeing button
*/
/*
.float-button
{
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	border-radius: 50%;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	font-size: 16px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s, transform 0.3s;
	border: none;
	text-decoration: none;
}

.float-button:hover
{
	background-color: #0056b3;
	transform: scale(1.1);
}

.float-button i
{
	font-size: 1.5rem;
	margin-right: 8px;
}
*/