/***********************************************
					CARDS
***********************************************/
.card
{
	background-color: transparent;
	border-color: transparent;
}

.card-body
{
	background-color: #a3dba3;
	color: #000000;
}
