/***********************************************
					CARDS
***********************************************/
.card
{
	background-color: transparent;
	border-color: transparent;
	z-index: 1;
}

.card-body
{
	background-color: var(--base-light-green);
	color: var(--base-dark);
}

.card-pong
{
	background-color: transparent;
	color: var(--base-white);
}