/***********************************************
					FOOTER
***********************************************/
footer
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--base-dark);
	border-top: 2px solid var(--base-green);
	padding: 10px 0;
	text-align: center;
	z-index: 1020;
}

.footer-content
{
	margin: 0;
}

.footer-content a
{
	margin: 0 10px;
	text-decoration: none;
	color: var(--base-green);
	font-size: 0.7em;
}

.footer-content a:hover
{
	text-decoration: underline;
	color: var(--base-white);
}