/***********************************************
					GIF STYLES
***********************************************/
.gif-frame
{
	display: inline-block;
	padding: 20px;
	border: 5px solid var(--base-green);
	border-radius: 15px;
	background-color: transparent;
	margin: 20px 0;
	width: fit-content;
	height: fit-content;
}

.gif-frame img
{
	max-width: 100%;
	max-height: 100%;
	height: auto;
	display: block;
}

#gif-not-found-1
{
	position: fixed;
	z-index: 10;
	top : 27%;
}

#gif-not-found-2
{
	position: fixed;
	z-index: 10;
	left: 50%;
	width: 50%;
	top : 12%;
	transform: scaleX(-1);
}

#gif-not-found-3
{
	position: fixed;
	z-index: 10;
	right: 89%;
	width: 23vh;
	top: 72%;
}

#gif-not-found-4
{
	position: fixed;
	z-index: 10;
	left: 15%;
	top: 26%;
	width: 28vh;
	transform: scaleX(-1);
}
