/***********************************************
						MODALS
***********************************************/
.modal-header
{
	background-color: #00ccff98;
	color: #ffffff;
}

.modal-body
{
	background-color: #f8f9faaf;
	color: #343a40;
}

.modal-footer
{
	background-color: #6c757d;
	color: #ffffff;
}