/***********************************************
					NAVIGATION BAR
***********************************************/
.navbar
{
	background-color: black;
	border-bottom: 2px solid #00ff00;
}

.navbar-gif-frame
{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
}

.navbar.bg-dark
{
	--bs-dark-rgb: 0, 0, 0;
	--bs-bg-opacity: 1;
}


/*	Navbar buttons	*/
.custom-btn
{
	text-transform: uppercase;
	background-color: transparent;
	border-color: transparent;
	position: center;
	width: 200px;
	height: 50px;
	perspective: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	box-shadow: none;
}

.custom-btn:focus,
.custom-btn:active
{
	box-shadow: none;
	background-color: transparent !important;
}

.custom-btn:hover
{
	background-color: transparent;
	border-color: transparent;
}

.custom-btn:hover .btn-flip-side
{
	transform: rotateX(0);
}

.btn-flip-side
{
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: relative;
	transform-style: preserve-3d;
	transition: 0.5s;
	transform: rotateX(-90deg);
}

.btn-flip-side > span
{
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: absolute;
	box-sizing: border-box;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-flip-side > span:first-child
{
	transform: translateZ(25px);
	backface-visibility: hidden;
	background-color: transparent;
}

.btn-flip-side > span:nth-child(2)
{
	color: rgb(255, 255, 255);
	transform: rotateX(90deg) translateZ(25px);
	background-color: transparent;
	backface-visibility: hidden;
}

.btn-flip-side--green > span:first-child
{
	color: 2px solid #00ff00;
	background-color: transparent;
}

.btn-flip-side--green > span:first-child:hover
{
	background-color: transparent;
}

.btn-flip-side--green > span:nth-child(2)
{
	background: transparent;
}

.btn-flip-side > span:first-child img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	background-color: transparent;
}