/***********************************************
				NAVIGATION BAR
***********************************************/
.navbar
{
	background-color: var(--base-dark);
	border-bottom: 2px solid var(--base-green);
	height: 60px;
	z-index: 1020;
}

.navbar-gif-frame
{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
}

.navbar-image
{
	width: auto;
	height: auto;
}

.navbar.bg-dark
{
	--bs-dark-rgb: 0, 0, 0;
	--bs-bg-opacity: 1;
}

.btn-nav
{
	--bs-btn-border-color: none;
	--bs-btn-active-border-color: none;
	--bs-btn-hover-border-color: none;
	text-transform: uppercase;
	background-color: transparent;
	border-color: transparent;
	width: 200px;
	height: 50px;
	perspective: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	box-shadow: none;
	transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
	z-index: 1001;
}

.btn-nav:focus,
.btn-nav:active,
.btn-nav:focus-visible
{
	box-shadow: none;
	background-color: transparent !important;
	outline: none
}

.btn-nav:hover
{
	background-color: transparent;
	border-color: transparent;
}

.btn-nav:hover .btn-flip-side
{
	transform: rotateX(0);
}

.btn-flip-side
{
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: relative;
	transform-style: preserve-3d;
	transition: 0.5s;
	transform: rotateX(-90deg);
}

.btn-flip-side > span
{
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: absolute;
	box-sizing: border-box;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-flip-side > span:first-child
{
	transform: translateZ(25px);
	backface-visibility: hidden;
	background-color: transparent;
}

.btn-flip-side > span:nth-child(2)
{
	color: var(--base-white);
	transform: rotateX(90deg) translateZ(25px);
	background-color: transparent;
	backface-visibility: hidden;
}

.btn-flip-side--green > span:first-child
{
	color: 2px solid var(--base-green);
	background-color: transparent;
}

.btn-flip-side--green > span:first-child:hover
{
	background-color: transparent;
}

.btn-flip-side--green > span:nth-child(2)
{
	background: transparent;
}

.btn-flip-side > span:first-child img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	background-color: transparent;
}

/* EXPAND BUTTON */
.navbar-toggler-custom-message {
	display: none;
}

@media (max-width: 992px)
{
	.navbar-toggler-custom-message
	{
		display: inline;
	}
}

.navbar-toggler-custom-message
{
	font-size: 1.5em;
	margin-right: auto;
	color: var(--base-white);
	animation: textColorChangeNavBar 2s infinite alternate;
}

/* Keyframes for color animation */
@keyframes textColorChangeNavBar
{
	0%
	{
		color: var(--base-white);
	}
	100%
	{
		color: var(--base-green);
	}
}