POSTGRES_DB=transcendence
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=db
JWT_SIGNING_KEY=changeme
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=changeme
EMAIL_HOST_USER=you@example.com
EMAIL_HOST_PASSWORD=changeme
DJANGO_SECRET_KEY=changeme
