/************************************************
					MENU
***********************************************/

/*		MENU	*/
.menu-overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.menu-gif
{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	object-fit: contain;
}

.menu-button:hover .menu-gif
{
	opacity: 1;
}

.menu-button
{
	width: 35%;
	height: 40vh;
	padding: 5%;
	font-family: 'Press Start 2P', cursive;
	font-size: 24px;
	text-transform: uppercase;
	color: var(--base-green);
	background-color: var(--base-dark);
	border: 2px solid var(--base-green);
	cursor: pointer;
	border-radius: 15px;
	transition: background-color 0.3s, color 0.3s;
	flex: 1;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	display: flex;
	flex-direction: column;
}

.menu-button:hover
{
	background-color: var(--base-green);
	color: var(--base-dark);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	filter: contrast(1.1);
}

.menu-buttons-container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2vh;
}

.row-container
{
	display: flex;
	flex-direction: row;
	column-gap: 2vh;
	justify-content: center;
	width: 80vh;
}

.menu-button:hover .menu-gif
{
	display: block;
}

.menu-button::before,
.menu-button::after
{
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	border: 5px dashed var(--base-green);
	border-radius: 15px;
	clip-path: inset(100% 100% 100% 100%);
	opacity: 0;
	transition: clip-path 0.5s ease-in-out, opacity 0.5s;
}

.menu-button:hover::before,
.menu-button:hover::after
{
	opacity: 1;
	clip-path: inset(0 0 0 0);
	animation: clippath 1.5s infinite linear;
}

@keyframes clippath
{
	0%,
	100%
	{
		clip-path: inset(0 0 98% 0);
	}
		
	25%
	{
		clip-path: inset(0 98% 0 0);
	}
	50%
	{
		clip-path: inset(98% 0 0 0);
	}
	75%
	{
		clip-path: inset(0 0 0 98%);
	}
}

/*	SINGLE PLAYER	*/
#singleplayer-button .menu-gif
{
	width: 55vh;
	height: auto;
	top : 78%;
}

/*	TWO PLAYERS		*/
#twoplayer-button .menu-gif
{
	width: 25vh;
	height: auto;
	top : 63%;
}

/*	TOURNAMENT		*/
#tournament-button .menu-gif
{
	width: 30vh;
	height: auto;
	top : 40%;
}

.tournament-gif-left
{
	left: 20%;
	animation: moveLeft 2s ease-in-out infinite alternate;
}

.tournament-gif-right
{
	right: 20%;
	animation: moveRight 2s ease-in-out infinite alternate;
}

@keyframes moveLeft
{
	0%
	{
		transform: translateX(0);
	}
	100%
	{
		transform: translateX(-50%);
	}
}

@keyframes moveRight
{
	0%
	{
		transform: translateX(0);
	}
	100%
	{
		transform: translateX(30%);
	}
}

#tournament-button
{
	width: 80vh;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	padding-bottom: 17.5vh;
}

#tournament-button:hover
{
	background-color: var(--base-green);
	color: var(--base-dark);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	filter: contrast(1.1);
}

#tournament-button:hover .menu-gif
{
	display: block;
}

/*		COUTDOWN		*/
.countdown
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20vh;
	color: var(--base-green);
	z-index: 10;
	text-shadow: 
		2vh 2vh 4vh rgba(0, 0, 0, 0.7),
		0 0 3vh rgba(0, 255, 0, 0.5);/
}
