/***********************************************
				REMATCH_NEXT
***********************************************/

/*		REMATCH_NEXT BUTTON		*/
#rematch-button
{
	width: 20vh;
	height: auto;
	top : 10%;
	right : 8%;
	border-radius: 15px;
	z-index: 100000;
	padding: 2vh;
	position: absolute;
	border: 2px solid var(--base-green);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#back-to-menu-button
{
	width: 20vh;
	height: auto;
	top : 40%;
	right : 8%;
	border-radius: 15px;
	z-index: 100000;
	padding: 2vh;
	position: absolute;
	border: 2px solid var(--base-green);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.back-to-menu-gif
{
	width: 10vh;
	height: auto;
	margin-top: 5px;
	display: none;
}

